.jumbotron {
  text-align: center;
}

.margin-left {
  margin-left: 20px !important;
}

input {
  margin: 20px;
}

.panel-body#operatingSystem, .panel-body#phoneOS, .panel-body#whyCode, .panel-body#developerType, .panel-body#moreInteresting, .panel-body#whatCompany {
  display: none;
}

button#nextPhoneOS, button#nextWhyCode, button#nextDeveloperType, button#nextMoreInteresting, button#nextWhatCompany, button#submit{
  display: none;
}

button#getStarted {
  margin-left: 40%;
text-align: center;
}

.panel-body .btn-group .btn .radio{
  margin-left: 40%;
text-align: center;
}

span  {
  display: none;
}

h1 {

  font-weight: bold;
  font-family: fantasy;
  font-size: 20;
    margin-left: 20%;
    margin-right: 20%;
  text-align: center;
  color: black;
  display: none;
}

}
span#language {


}
