.jumbotron {
  text-align: center;
}

.margin-left {
  margin-left: 20px !important;
}

input {
  margin: 20px;
}

.panel-body#operatingSystem, .panel-body#phoneOS, .panel-body#whyCode, .panel-body#developerType, .panel-body#moreInteresting, .panel-body#whatCompany {
  display: none;
}

button#nextPhoneOS, button#nextWhyCode, button#nextDeveloperType, button#nextMoreInteresting, button#nextWhatCompany, button#submit{
  display: none;
}

span {
  display: none;
}
